@model EnterpriseProject.Entities.Profile

<style>
	.center
	{
		max-width: fit-content;
		margin-inline: auto;
		text-align: center;
	}
</style>

@{
	ViewData["Title"] = (Model != null ? Model.User.UserName + "'s " : "") + "Profile";
}

@if (Model != null)
{
	<div class="center">
		<h2>@Model.User.UserName</h2>
		<h3>@Model.User.Email</h3>
		@if (Model.User.Resume != null)
		{
			<form asp-action="ViewResume" asp-controller="Resume" method="get">
				<input type="hidden" name="resumeId" value="@Model.User.Resume.ResumeId" />

				<button type="submit" class="btn btn-primary">View Resume</button>
			</form>

		}
		else if (ViewBag.IsMyProfile)
		{
			<form asp-action="UploadResume" asp-controller="Resume" method="post" enctype="multipart/form-data">
				<input type="hidden" name="userId" value="@Model.User.UserId" />

				<div>
					<input type="file" name="resumeFile" accept=".pdf" required />
				</div>
				<div>
					<button type="submit" class="btn btn-primary">Upload Resume</button>
				</div>
			</form>
		}
	</div>

	<p>About Me: @Model.AboutMe</p>

	<p>Comments:</p>

	@foreach (var comment in Model.Comments)
	{
		<p>@comment.User.UserName - @comment.CreatedAt.ToShortDateString()</p>
		<p>@comment.Content</p>
	}
}

else
{
	<p>Invalid User ID.</p>
}