@model EnterpriseProject.Entities.User

<style>
	.center
	{
		max-width: fit-content;
		margin-inline: auto;
		text-align: center;
	}
</style>

@{
	ViewData["Title"] = (Model != null ? Model.UserName + "'s " : "") + "Profile";
}

@if (Model != null)
{
	<div class="center">
		<h2>@Model.UserName</h2>
		<h3>@Model.Email</h3>
		@if (Model.Resume != null)
		{
			<form asp-action="ViewResume" asp-controller="Resume" method="get">
				<input type="hidden" name="resumeId" value="@Model.Resume.ResumeId" />

				<button type="submit" class="btn btn-primary">View Resume</button>
			</form>

			<p>About Me: @Model.Profile.AboutMe</p>

		}
		else if (ViewBag.IsMyProfile)
		{
			<form asp-action="UploadResume" asp-controller="Resume" method="post" enctype="multipart/form-data">
				<input type="hidden" name="userId" value="@Model.UserId" />

				<div>
					<input type="file" name="resumeFile" accept=".pdf" required />
				</div>
				<div>
					<button type="submit" class="btn btn-primary">Upload Resume</button>
				</div>
			</form>
		}
	</div>
}
else
{
	<p>Invalid User ID.</p>
}