@model EnterpriseProject.Entities.User

<style>
	.center
	{
		text-align: center;
	}
</style>

@{
	ViewData["Title"] = (Model != null ? Model.UserName + "'s " : "") + "Profile";
}

@if (Model != null)
{
	<div>
		<h2 class="center">@Model.UserName</h2>
		<h3 class="center">@Model.Email</h3>
	</div>

	<p>@Model.AboutMe</p>
	if (ViewBag.IsMyProfile)
	{
		<form asp-action="UploadResume" asp-controller="Resume" method="post" enctype="multipart/form-data">
			<input type="hidden" name="userId" value="@Model.UserId" />

			<div>
				<input type="file" name="resumeFile" accept=".pdf" required/>
			</div>
			<div>
				<button type="submit" class="btn btn-primary">@(Model.Resume != null ? "Replace" : "Upload") Resume</button>
			</div>
		</form>
		@if (Model.Resume != null)
		{
			<br />
			<form asp-action="DeleteResume" asp-controller="Resume" method="post">
				<input type="hidden" name="userId" value="@Model.UserId" />

				<button type="submit" class="btn btn-primary">Delete Resume</button>
			</form>
		}
	}
}
else
{
	<p>Invalid User ID.</p>
}