@model EnterpriseProject.Entities.Project

<h1>Edit Project Page</h1>

<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group row">
            <label for="ProjectTitle" class="col-sm-2 col-form-label">Project Title</label>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.ProjectTitle, new { htmlAttributes = new { @class = "form-control", id = "ProjectTitle" }})
            </div>
        </div> <br />

        <div class="form-group row">
            <label for="Description" class="col-sm-2 col-form-label">Project Description</label>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", id = "Description" }})
            </div>
        </div> <br />

        <div class="form-group row">
            <label for="ImagePath" class="col-sm-2 col-form-label">Image</label>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.ImagePath, new { htmlAttributes = new { @class = "form-control", id = "ImagePath" }})

                <!-- <input type="file" class="form-control" id="projectImage" accept="image/*" />  ADD LATER   -->
            </div>
        </div> <br />


        <div class="form-group row">
            <label for="StartDate" class="col-sm-2 col-form-label">Date Started</label>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", id = "StartDate" }})
            </div>
        </div> <br />

        <div class="form-group row">
            <label for="CompletedDate" class="col-sm-2 col-form-label">Date Completed</label>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.CompletedDate, new { htmlAttributes = new { @class = "form-control", id = "CompletedDate" }})
            </div>
        </div> <br />

        <div class="form-group row">
            <div class="col-sm-2">Public Project?</div>
            <div class="col-sm-10">
                <div class="form-check">
                    @Html.CheckBoxFor(model => model.IsPublic, new { @class = "form-check-input" })
                </div>
            </div>
        </div>

        <div class="form-group-row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Edit Project</button>
            </div>
        </div>

    </form>
</div>
