@model EnterpriseProject.Entities.Project

<section class="jumbotron text-center bg-light">
    <h1 class="jumbotron-heading">@Model.ProjectTitle</h1>
    <p class="lead">@Model.Description</p>
</section>

<div container="container py-5">
    <div class="row">
        <div class="col-lg-8 d-inline-flex">

            <div class="mb-4">
                <img src="@Model.ImagePath" alt="No project image found." class="img-fluid rounded shadow-sm" />
            </div>
        </div>
        <div class="col-lg-8">
            <div class="mb-4">
                <h3>About the Project</h3>
                <p>@Model.Description</p>
            </div>

            <div class="mb-4">
                <h4>Project Owner</h4>
                <p><strong>@Model.User.UserName</strong></p>
                <p><strong>Email: </strong>@Model.User.Email</p>
            </div>

            @if (User.Identity.Name == @Model.User.UserName)
            {
                <div class="mb-4">
                    <a href="@Url.Action("EditProject", "Project", new { id = Model.ProjectId })" class="btn btn-dark btn-sm">Edit</a>
                    <a href="@Url.Action("DeleteProject", "Project", new { id = Model.ProjectId })" class="btn btn-dark btn-sm">Delete</a>
                </div>
            }
        </div>
    </div>
</div>
